.button {
  padding: 13px 28px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Primary */

.button.primary {
  background: #a84d57;
  border: 1px solid #a84d57;
  color: white;
}

.button.primary:hover {
  background: #8b3945;
  transform: translateY(-2px);
}

/* Outline */

.button.outline {
  background: transparent;
  border: 1px solid #c98282;
  color: white;
}

.button.outline:hover {
  background: #c98282;
}